* {
    padding: 0;
    margin: 0;
    background-color: bisque;
}

.head {
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 55vw;



}

.name {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.6;
}

.name:hover {
    opacity: 1;
    translate: 5px -7px;
    transition: opacity .3s ease;
    translate: 0.3s;
}


.about {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 20px;

}

.about>*:hover {
    background-color: rgb(184, 175, 175);
    translate: -5px -7px;
    color: blue;
    font-style: bolder;
    box-shadow: 2px 2px 250px 5px;
    cursor: pointer;

}

.about>* {
    background-color: rgb(211, 226, 226);
    padding-top: 13px;
    padding-left: 6px;
    padding-right: 6px;
    width: 200px;
    border-radius: 5px;
    color: rgb(79, 138, 130);
    transition: translate 0.3s;
    background-color: 2s ease;
}